@(title: String)(content: Html)(Implicit lang: Lang)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("styesheets/main.css")">
    </head>
    <body>
      <div class="screenshot">
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href ="@routes.Applicatio.index()">
                @Messages("application.name")
                </a>
          </div>
      </div>
    </div>
    <div>
      @content
    </div>
    </body>
</html>
